
summary {
  display: inline-block;
  font-size: 0.9rem;
}


summary::after {
  margin-left: 1ch;
  display: inline-block;
  content: '▶️';
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(90deg);
}

#banner-img{
    max-width: 100%;
}